@use "../../styles/variables" as *;

.statusBadge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 110px;
  text-align: center;

  &--green {
    background: $success-soft;
    color: $success;
    border: 1px solid $success;
  }

  &--red {
    background: $error-soft;
    color: $error;
    border: 1px solid $error;
  }

  &--grey {
    background: $grey-soft;
    color: $grey;
    border: 1px solid $grey;
  }

  &--yellow {
    background: $warning-soft;
    color: $warning;
    border: 1px solid $warning;
  }

  &--blue {
    background: $accent-soft;
    color: $accent;
    border: 1px solid $accent;
  }

  &--black {
    background: $black-soft;
    color: $black;
    border: 1px solid $black;
  }
}
